@{
    ViewBag.Title = "Welcome!";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<h3>You are visiting <b>High Ten</b> math application game.</h3>
<h4>High Ten is a math game for first and second graders <br>
that challenges them to answer ten math questions correctly as fast as they can.<br>
Questions include first and second grade addition and subtraction problems as well as word problems.</h4>
<h5>What are the rules?</h5>
<ul>
    <li>1. In the navigation bar press "Start!" to begin the game.</li>
    <li>2. Once the game starts a subtraction or addition problem <br />
    or a word problem will appear on the screen.<li/>
    <li>3. Under "the games rules" section click "Begin game".</li>
    <li>4. Start answering the questions.</li>
    <li>5. TO review your answer click "submit"</li>
    <li>6. You can click "next" to move to the next question or previous question.</li>
    <li>7. After you review your last answer, go to "Back to list" to see all the questions and review any answers.</li>
    <li>8. From here if you click "Back to list", you can go to game and play it again.</li>
</ul>
