@{
    ViewBag.Title = "Our contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h3>4 GIT About It</h3>

<address>
    Cascadia College<br />
    18345 Campus Way NE, Bothell<br />
    WA 98011 U.S<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@


