@{
    ViewBag.Title = "Our contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Cascadia College<br />
    18345 Campus Way NE, Bothell<br />
    WA 98011 U.S<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@

<h4><strong>Concept and Agile:</strong> Brian Kidd</h4>
<h4><strong>Back-end development:</strong> Pawanjit Kaur</h4>
<h4><strong>Project management and front-end development</strong> Elena Pavlovic</h4>
